In [1]:
# Import Dependencies
import ast
#import numpy as np
import os
import pandas as pd

In [2]:
# Path to file directory and variables for the two files.
file_dir = os.path.join("..", "Data")

# The Kaggle metadata
kaggle_file = f'{file_dir}/movies_metadata.csv'

# The MovieLens rating data
#ratings_file = f'{file_dir}/ratings_small.csv'
ratings_file = f'{file_dir}/ratings.csv'

In [3]:
# Import Kaggle metadata, and MovieLens rating data (from Kaggle)

# Read in the kaggle metadata and MovieLens ratings CSV files as Pandas DataFrames.
kaggle_metadata = pd.read_csv(kaggle_file, low_memory=False)
ratings = pd.read_csv(ratings_file)

# Import Viewer Movies and Ratings (from IMDB)
#viewer_movies =

In [4]:
# Check DataFrames
kaggle_metadata.count()
#kaggle_metadata.head()

#ratings.count()
#ratings.head()

adult                    45466
belongs_to_collection     4494
budget                   45466
genres                   45466
homepage                  7782
id                       45466
imdb_id                  45449
original_language        45455
original_title           45466
overview                 44512
popularity               45461
poster_path              45080
production_companies     45463
production_countries     45463
release_date             45379
revenue                  45460
runtime                  45203
spoken_languages         45460
status                   45379
tagline                  20412
title                    45460
video                    45460
vote_average             45460
vote_count               45460
dtype: int64

In [5]:
# Keep only Non-Adult Movies
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False']

In [6]:
# From Kaggle Data, Keep only columns: genres, id, imdb_id, title
kaggle_metadata = kaggle_metadata[['genres', 'id', 'imdb_id', 'title']]

# Add genres_list column to DataFrame
kaggle_metadata['genres_list'] = ""

# Check DataFrame
print(kaggle_metadata.shape)
kaggle_metadata.head()

(45454, 5)

,genres,id,imdb_id,title,genres_list
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,Toy Story,
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,Jumanji,
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,Grumpier Old Men,
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,Waiting to Exhale,
4,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,Father of the Bride Part II,

In [7]:
# Extract genres names from genres list of dicts:

replace_chars = "[']"

for index, row in kaggle_metadata.iterrows():
    genres_dicts_list = list(ast.literal_eval(row['genres']))
    genres_string = str([item['name'] for item in genres_dicts_list])
    
    for char in replace_chars:
        genres_string = genres_string.replace(char, "")
    
    row['genres_list'] = genres_string
    

print(kaggle_metadata.shape)
kaggle_metadata.head()

(45454, 5)

,genres,id,imdb_id,title,genres_list
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,Toy Story,"Animation, Comedy, Family"
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,Jumanji,"Adventure, Fantasy, Family"
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,Grumpier Old Men,"Romance, Comedy"
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,Waiting to Exhale,"Comedy, Drama, Romance"
4,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,Father of the Bride Part II,Comedy

In [8]:
# Locate kaggle_metadata Rows with Genres to Drop

bad_genres_list = ["Aniplex",
"BROSTA TV",
"Carousel Productions",
"Foreign",
"GoHands",
"Mardock Scramble Production Committee",
"Odyssey Media",
"Pulser Productions",
"Rogue State",
"Sentai Filmworks",
"TV Movie",
"Telescene Film Group Productions",
"The Cartel",
"Vision View Entertainment"]

kaggle_metadata[kaggle_metadata['genres_list'].str.contains('|'.join(bad_genres_list))]

,genres,id,imdb_id,title,genres_list
52,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",49133,tt0110299,Lamerica,"Drama, Foreign"
114,"[{'id': 99, 'name': 'Documentary'}, {'id': 18,...",51352,tt0112373,Anne Frank Remembered,"Documentary, Drama, Foreign"
180,"[{'id': 53, 'name': 'Thriller'}, {'id': 10769,...",48787,tt0110604,Mute Witness,"Thriller, Foreign"
306,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",36357,tt0114268,Rent-a-Kid,"Comedy, Family, TV Movie"
358,"[{'id': 99, 'name': 'Documentary'}, {'id': 107...",41647,tt0107472,"The Wonderful, Horrible Life of Leni Riefenstahl","Documentary, Foreign"
...,...,...,...,...,...
45383,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",32388,tt0063105,Golden Swallow,"Action, Adventure, Foreign"
45392,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 107...",401687,tt5775814,Hopeless Romantic,"TV Movie, Romance"
45421,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",52103,tt0144020,Pickpocket,"Drama, Foreign"
45422,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",63898,tt1110037,Antidur,"Action, Comedy, Crime, Foreign"
45440,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",39562,tt0889600,To Be Fat Like Me,"Drama, Family, TV Movie"

In [9]:
# Drop Rows with Genres to Drop, then Drop 'genres' Column:

kaggle_metadata = kaggle_metadata[~kaggle_metadata['genres_list'].str.contains('|'.join(bad_genres_list))]
kaggle_metadata = kaggle_metadata[['id', 'imdb_id', 'title', 'genres_list']]

# Change kaggle_metadata 'id' column to 'movieId' to match column name in
# ratings_small dataset
kaggle_metadata.rename(columns = {'id': 'movieId'}, inplace=True)

# Convert 'movieId' column to Int64
kaggle_metadata['movieId'] = kaggle_metadata['movieId'].astype(int)

print(kaggle_metadata.shape)
kaggle_metadata.head()

(43067, 4)

   movieId    imdb_id                        title                 genres_list
0      862  tt0114709                    Toy Story   Animation, Comedy, Family
1     8844  tt0113497                      Jumanji  Adventure, Fantasy, Family
2    15602  tt0113228             Grumpier Old Men             Romance, Comedy
3    31357  tt0114885            Waiting to Exhale      Comedy, Drama, Romance
4    11862  tt0113041  Father of the Bride Part II                      Comedy

In [10]:
# Check DataFrame

#kaggle_metadata['movieId'] = kaggle_metadata['movieId'].astype(int)
kaggle_metadata.dtypes

movieId         int32
imdb_id        object
title          object
genres_list    object
dtype: object

In [11]:
# Check ratings DataFrame

print(ratings.shape)
ratings.head()
ratings.dtypes

(26024289, 4)

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [12]:
# Drop timestamp column from ratings DataFrame
# and multiply all ratings by 2 to coincide
# with IMDB 1-10 Star Ratings

ratings.drop(['timestamp'], axis=1, inplace=True)
ratings['rating'] = ratings['rating'] * 2

print(ratings.shape)
ratings.head()
ratings.dtypes

(26024289, 3)

userId       int64
movieId      int64
rating     float64
dtype: object

In [13]:
# Create movies_df
movies_df = kaggle_metadata

In [14]:
# Transform and merge the ratings DataFrame.
# Count Ratings
rating_counts = ratings.groupby(['movieId', 'rating'], as_index=False).count() \
    .rename({'userId':'count'}, axis=1)

# Pivot Ratings Count Data
rating_counts = ratings.groupby(['movieId', 'rating'], as_index=False).count() \
    .rename({'userId':'count'}, axis=1) \
    .pivot(index='movieId', columns='rating', values='count')

# Rename Ratings Count Columns
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

# Merge Rating Counts into movies_df
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='movieId', right_index=True, how='left')

# Fill in Missing Ratings with Zeroes
#movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [15]:
# Check DataFrame

print(movies_with_ratings_df.shape)
movies_with_ratings_df.count()
movies_with_ratings_df.head()
#movies_with_ratings_df.tail()

(43067, 14)

,movieId,imdb_id,title,genres_list,rating_1.0,rating_2.0,rating_3.0,rating_4.0,rating_5.0,rating_6.0,rating_7.0,rating_8.0,rating_9.0,rating_10.0
0,862,tt0114709,Toy Story,"Animation, Comedy, Family",NaN,11.0,1.0,30.0,6.0,112.0,15.0,120.0,10.0,69.0
1,8844,tt0113497,Jumanji,"Adventure, Fantasy, Family",5.0,1.0,1.0,3.0,3.0,14.0,18.0,39.0,24.0,15.0
2,15602,tt0113228,Grumpier Old Men,"Romance, Comedy",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31357,tt0114885,Waiting to Exhale,"Comedy, Drama, Romance",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11862,tt0113041,Father of the Bride Part II,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Check for NULLS in movies_with_ratings_df

movies_with_ratings_df.isnull().sum()

movieId            0
imdb_id           15
title              2
genres_list        0
rating_1.0     38372
rating_2.0     38660
rating_3.0     38954
rating_4.0     37935
rating_5.0     37635
rating_6.0     36931
rating_7.0     37184
rating_8.0     37354
rating_9.0     38382
rating_10.0    38233
dtype: int64

In [ ]:
# Drop Rows with NULLS

#movies_with_ratings_df.dropna(how='any')

In [22]:
# Look for movies which have NULLs for all Ratings

movies_with_ratings_df.loc[(movies_with_ratings_df['rating_1.0'].isnull() == True) &
                           (movies_with_ratings_df['rating_2.0'].isnull() == True)]

,movieId,imdb_id,title,genres_list,rating_1.0,rating_2.0,rating_3.0,rating_4.0,rating_5.0,rating_6.0,rating_7.0,rating_8.0,rating_9.0,rating_10.0
2,15602,tt0113228,Grumpier Old Men,"Romance, Comedy",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31357,tt0114885,Waiting to Exhale,"Comedy, Drama, Romance",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11862,tt0113041,Father of the Bride Part II,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,11860,tt0114319,Sabrina,"Comedy, Romance",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,45325,tt0112302,Tom and Huck,"Action, Adventure, Drama, Family",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,30840,tt0102797,Robin Hood,"Drama, Action, Romance",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45461,439050,tt6209470,Subdue,"Drama, Family",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45463,67758,tt0303758,Betrayal,"Action, Drama, Thriller",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45464,227506,tt0008536,Satan Triumphant,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45465,461257,tt6980792,Queerama,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN